<h2>Detail of Lawyer</h2>
	<table>
    <tr><td bgcolor="#CC00FF">${lawyer.id}</td></tr>
    <tr><td bgcolor="#CC00FF">${lawyer.name}</td></tr>
    <tr><td bgcolor="#CC00FF">${lawyer.mobile}</td></tr>
    <tr><td bgcolor="#CC00FF">${lawyer.gender}</td></tr>
    <tr><td bgcolor="#CC00FF">${lawyer.email}</td></tr>
	</table>