<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lawyer.core.mapper.LawyerMapper">
	<resultMap id="baseResultMap" type="com.lawyer.core.entity.Lawyer">
	  <id column="id" jdbcType="INTEGER" property="id" />
	  <result column="name" jdbcType="VARCHAR" property="name" />
	  <result column="age" jdbcType="INTEGER" property="age" />
	  <result column="gender" jdbcType="VARCHAR" property="gender" />
	  <result column="mobile" jdbcType="VARCHAR" property="mobile" />
	  <result column="email" jdbcType="VARCHAR" property="email" />
	  <result column="telephone" jdbcType="VARCHAR" property="telephone" />
	  <result column="level" jdbcType="VARCHAR" property="level" />
	  <result column="working_years" jdbcType="INTEGER" property="workingYears" />
	  <result column="degree" jdbcType="VARCHAR" property="degree" />
	  <result column="university" jdbcType="VARCHAR" property="university" />
	  <result column="status" jdbcType="VARCHAR" property="status" />
	  <result column="create_date" jdbcType="DATE" property="createDate" />
	  <result column="last_modify_date" jdbcType="DATE" property="lastModifyDate" />
	</resultMap>

    <sql id="base_column_list">
            id, name,age,gender,mobile,email,telephone,level,working_years,degree,university,status,create_date,last_modify_date
    </sql>
    <sql id="base_insert_column_list">
            name,age,gender,mobile,email,telephone,level,working_years,degree,university,status,create_date,last_modify_date
    </sql>
    <sql id="conditions">
        WHERE 1=1
        <if test="lawyer.name != null and lawyer.name != ''" >
            and name = #{lawyer.name}
        </if>
        <if test="lawyer.age != null" >
            and age = #{lawyer.age}
        </if>
        <if test="lawyer.gender != null and lawyer.gender != ''" >
            and gender = #{lawyer.gender}
        </if>
        <if test="lawyer.mobile != null and lawyer.mobile != ''" >
            and mobile = #{lawyer.mobile}
        </if>
        <if test="lawyer.email != null and lawyer.email != ''" >
            and email = #{lawyer.email}
        </if>
        <if test="lawyer.telephone != null and lawyer.telephone != ''" >
            and telephone = #{lawyer.telephone}
        </if>
        <if test="lawyer.level != null" >
            and level = #{lawyer.level}
        </if>
        <if test="lawyer.workingYears != null" >
            and working_years = #{lawyer.workingYears}
        </if>
        <if test="lawyer.degree != null" >
            and degree = #{lawyer.degree}
        </if>
        <if test="lawyer.university != null and lawyer.university != ''" >
            and university = #{lawyer.university}
        </if>
        <if test="lawyer.status != null and lawyer.status != ''" >
            and status = #{lawyer.status}
        </if>
    </sql>
    <select id="findAll" resultMap="baseResultMap">
        select
        <include refid="base_column_list" />
        from ly_lawyer limit 0,100
    </select>

    <select id="findByPage" resultMap="baseResultMap" parameterType="map">
        select
        <include refid="base_column_list" />
        from ly_lawyer
        <include refid="conditions" />
        limit #{startRow},#{endRow}
    </select>

    <select id="getTotalCounts" resultType="int" parameterType="map">
        select
        count(1)
        from ly_lawyer
        <include refid="conditions" />
    </select>
    <select id="findById" resultType="com.lawyer.core.entity.Lawyer" parameterType="int">
        select
        <include refid="base_column_list" />
        from ly_lawyer 
        where id=#{id}
    </select>

    <!-- 新增-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.lawyer.core.entity.Lawyer" >
        INSERT INTO ly_lawyer (
            <include refid="base_insert_column_list" />
        ) VALUES (
            #{name},
            #{age},
            #{gender},
            #{mobile},
            #{email},
            #{telephone},
            #{level},
            #{workingYears},
            #{degree},
            #{university},
            #{status},
            #{createDate},
            now()
        )
    </insert>
    
    <insert id="insertForBatch" parameterType="java.util.List">
        INSERT INTO ly_lawyer (
            <include refid="base_insert_column_list" />
        ) VALUES
        <foreach collection="list" separator="," index="index" item="lawyer">
            (
            #{lawyer.name},
            #{lawyer.age},
            #{lawyer.gender},
            #{lawyer.mobile},
            #{lawyer.email},
            #{lawyer.telephone},
            #{lawyer.level},
            #{lawyer.workingYears},
            #{lawyer.degree},
            #{lawyer.university},
            #{lawyer.status},
            #{lawyer.createDate},
            #{lawyer.lastModifyDate}
            )
        </foreach>
    </insert>

</mapper>